
table.adminZebraTable {
  width: 100%;
  border-collapse: collapse;
}

table.adminZebraTable th {
  background: #5E7FBB;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 5px;
  border: 1px solid white;
}

table.adminZebraTable tr.row1 td {
  background: white;
}

table.adminZebraTable tr.row2 td {
  background: #EEEEEE;
}

table.adminZebraTable td {
  border: 1px solid white;
  padding: 4px 5px;
}

table.adminZebraTable tr.pending td {
  color: #aaa;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

.adminTransactionList thead tr th {
  font-weight:bold;
  padding-bottom:10px;
  text-align:left;
}

#adminTransactionList {
  background:white;
  padding:0 15px;
}

#cluetip {
  margin-left:100px;
}

.cluetip-default #cluetip-inner {
  padding: 1px 5px;
}

.cluetip-default div#cluetip-close {
  padding:5px 5px 0px;
  text-align:right;
  background:#FFFFFF;
}

.transactionlist_ajax {
  background:#FFFFFF;
  width:350px;
  padding:10px;
}

#cluetip-title {
  background:#FFFFFF;
  padding:10px 10px;
  margin:10px 5px;
}

h3#cluetip-title {
  margin-bottom:0px;
}