
div.receipt {
  border: 1px solid #ccc;
  padding: 5px;
  font-family: courier, serif;
}

#shoppingcart .cart-item span.cart-itemdescription {
  font-weight: normal;
  font-size: 90%;
}

#shoppingcart .cart-quantity {
    text-align: center;
    white-space: nowrap;
    input {
      width: 20px;
      text-align: right;
    }
    a.cart-remove {
      line-height: 14px;
      color: red;
      font-size: 115%;
      margin: 0px;
      text-decoration: none;
        &:hover {
          text-decoration: none;
          font-weight: bold;
        }
    }
}

@media only screen and (max-width: 767px) {
    #shoppingcart .cart-quantity { white-space: normal; }
}

#cart-fixedorder, #cart-total, #cart-subtotal, #cart-freight, #cart-surcharge, #cart-discountcode, #shoppingcart .cart-price, #shoppingcart .cart-linetotal, #cart-giftwrap {
  text-align: right;
}

#cart-giftwrap label {
  float: none;
  display: inline;
}

#cart-total {
  font-weight: bold;
}

#cart-updatebuttons {
  text-align: center;
  margin: 7px 0px;
}

#cart-orderinfo {
  margin-bottom: 8px;
}

#cart-paymentoption {
    margin-top: 15px;
    label {
        float: none;
        width: auto;
    }
}
