
div.receipt {
  border: 1px solid #ccc;
  padding: 5px;
  font-family: courier, serif;
}

.shoppingcart {
    .titles {
        font-weight: bold;
        > div {
            padding-top: 1em;
            padding-bottom: 1em;
            border-bottom: 1px solid #aaa;
        }
        .cart-linetotal {
            text-align: right;
        }
    }
    .cart-items {
        position: relative;
        .item-wrap {
            padding: 1em 0;
            border-bottom: 1px solid #aaa;
        }
        strike {
            font-size: 90%;
        }
    }
    .cart-item {
        img {
            float: left;
            margin: 0 0.5em 0.5em 0;
        }
        span.cart-itemname {
            padding-top: 0.5em;
            display: inline-block;
        }
        span.cart-itemdescription {
          font-weight: normal;
          font-size: 90%;
        }
    }
    .cart-quantity input, .cart-quantity select {
     min-width: 45px;
     max-width: 65px;
     display: inline-block;
    }
    .cart-remove {
        position: absolute;
        top: 1em;
        right: 0;
    }
    .cart-total {
      font-weight: bold;
      p { font-weight: normal; }
    }
    .cart-price, .cart-linetotal, .cart-total {
        text-align: right;
        padding-top: 0.5em;
    }
}
#cart-fixedorder, #cart-subtotal, #cart-freight, #cart-surcharge  {
  text-align: right;
  padding-top: 0.5em;
}


#cart-updatebuttons {
  text-align: right;
}


/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
    .shoppingcart {
        .cart-remove { position: relative; top: 0.3em;}
    }
}
