
div.receipt {
  border: 1px solid #ccc;
  padding: 5px;
  font-family: courier, serif;
}

#shoppingcart .cart-item span.cart-itemdescription {
  font-weight: normal;
  font-size: 90%;
}
#shoppingcart .cart-quantity  {
 min-width: 45px;
}
#shoppingcart .cart-remove a {
  color: red;
  font-size: 115%;
}


#cart-fixedorder, #cart-total, #cart-subtotal, #cart-freight, #cart-surcharge, #shoppingcart .cart-price, #shoppingcart .cart-linetotal, #cart-giftwrap {
  text-align: right;
}

#cart-total {
  font-weight: bold;
}

#cart-updatebuttons {
  text-align: right;
}
